<div class="px-4 py-4 bg-accent h-[100vh]">
  <main class="grid grid-cols-12 rounded-lg overflow-hidden">
    <div class="col-span-3">
      <aside>
        <div appBox class="mb-12 border-b-[1px]">
          <div class="img-container">
            <img src="" alt="user picture" />
          </div>
          <div class="w-auto">
            <!-- <h2>{{ current.name }} {{ current.forname }}</h2>
            <p>{{ current.phone }}</p> -->
          </div>
        </div>
        <p class="mb-4 text-xl font-bold">Contacts :</p>
        <div appBox *ngFor="let contact of contacts" [routerLink]="contact._id">
          <div class="img-container">
            <img src="" alt="user picture" />
          </div>
          <div class="w-auto">
            <h2>{{ contact.name }} {{ contact.forname }}</h2>
            <p>{{ contact.phone }}</p>
          </div>
        </div>
      </aside>
    </div>
    <div class="col-span-9 bg-deepBlack text-white ">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
