<nav class="bg-main w-full fixed top-8 left-0 px-20 py-4">
  <div
    class="flex items-center justify-between border-accent rounded-full border-4 px-24 py-4"
  >
    <h3 class="text-accent">Chapple</h3>
    <ul class="flex items-center justify-center gap-10 col-span-10">
      <li>Home</li>
      <li>About us</li>
      <li>Contact us</li>
    </ul>
    <button class="icon-button border-2 px-12">
      <lucide-angular name="github" size="16"></lucide-angular>
      <p>Contribute</p>
    </button>
  </div>
</nav>
