<div class="lg:py-56 md:w-9/12 lg:w-7/12 dark:lg:w-6/12 m-auto text-center">
  <h1
    class="text-gray-700 font-bold text-4xl md:text-6xl lg:text-4xl xl:text-6xl"
  >
    About us
  </h1>
  <p class="mt-8 text-gray-400 text-lg">
    Chapple is a simple realtime chat app, built by
    <a
      href="https://github.com/riahimedyassin"
      class="text-black"
      target="_blank"
      >Riahi Yassin</a
    >. No exlusive features, just chat safely and that's it.
  </p>
  <div class="mt-16 space-y-2 lg:space-y-0 sm:space-x-6">
    <button
      type="button"
      class="w-full py-3 px-6 text-center rounded-full transition bg-gray-700 hover:bg-gray-600 sm:w-max"
    >
      <span class="block text-white font-semibold text-sm"> Start now ! </span>
    </button>
    <a
      type="button"
      class="w-full py-3 px-6 text-center rounded-full transition border sm:w-max border-gray-400 hover:bg-gray-100"
      href="https://github.com/riahimedyassin"
      target="_blank"
    >
      <span
        class="text-gray-400 font-semibold text-sm flex items-center justify-center gap-4"
      >
        <lucide-angular name="github" size="18"></lucide-angular>
        <p>Contact me !</p>
      </span>
    </a>
  </div>
</div>
