<main class="h-[96.7vh] border-4 border-gray-900 relative">
  <nav
    class="h-20 bg-deepGreen w-full flex bg-gray-900 items-center px-12 gap-4"
    *ngIf="currentGroup"
  >
    <div
      class="flex items-center justify-center h-8 w-8 bg-accent/20 rounded-full"
    >
      {{ currentGroup.name[0] | uppercase }}
    </div>
    <h6 class="text-white">
      {{ currentGroup.name }}
    </h6>
  </nav>
  <div class="h-[85vh] w-full pl-12">
    <div
      class="h-[85%] overflow-y-auto custom-scrollbar space-y-4 md:pr-36 mt-2 sm:pr-12"
      *ngIf="messages.length > 0"
      #container
    >
      <div
        class="gap-2 flex items-center w-full justify-start message-container"
        *ngFor="let message of messages"
        [ngClass]="message.from == 'me' ? 'flex-row-reverse' : ''"
      >
        <p class="message">
          {{ message.content }}
        </p>
      </div>
    </div>
    <div
      class="absolute bottom-16 left-20 bg-deepGreen w-[80%] h-16 justify-between flex gap-4 text-main px-12"
    >
      <input
        type="text"
        placeholder="Enter your message"
        [(ngModel)]="content"
        (keypress)="onKeyPress($event)"
        class="flex-grow"
      />
      <button (click)="sendMessage()">
        <lucide-angular name="send"></lucide-angular>
      </button>
    </div>
  </div>
</main>
