<div
  class="flex flex-col flex-shrink-0 invisible w-full h-full py-8 pl-6 pr-2 from-gray-800 to-gray-900 bg-gradient-to-tr text-accent md:visible"
>
  <div class="flex flex-row items-center justify-center w-full h-12">
    <div class="w-10 h-10 mt-4 rounded-full">
      <lucide-angular name="message-circle-code"></lucide-angular>
    </div>
    <div class="ml-2 text-2xl font-bold">Chapple</div>
  </div>
  <div
    class="flex items-center w-full px-4 py-6 mt-4 border border-gray-200 rounded-lg bg-accent text-main"
    *ngIf="current"
  >
    <div class="flex-grow w-full h-full text-sm font-semibold">
      {{ current.username }}
    </div>
    <div
      class="flex items-center justify-center transition-colors rounded-lg hover:bg-red-300"
    >
      <button (click)="logout()">
        <lucide-angular name="log-out"></lucide-angular>
      </button>
    </div>
  </div>
  <div class="max-h-[50%]">
    <app-friend></app-friend>
  </div>
  <hr class="mx-4 my-2 opacity-20" />
  <div class="max-h-[50%]">
    <app-group></app-group>
  </div>
</div>
