<div
  class="flex flex-col py-8 pl-6 pr-2 w-full bg-gray-800 flex-shrink-0 h-full text-accent"
>
  <div class="flex flex-row items-center justify-center h-12 w-full">
    <div class="h-10 w-10 rounded-full mt-4">
      <lucide-angular name="message-circle-code"></lucide-angular>
    </div>
    <div class="ml-2 font-bold text-2xl">Chapple</div>
  </div>
  <div
    class="flex flex-col items-center bg-accent border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg text-main"
    *ngIf="current"
  >
    <div class="text-sm font-semibold">
      {{ current.username }}
    </div>
  </div>
  <button
    class="h-4 w-full border border-gray-500 mt-4 flex items-center gap-6 rounded-md px-4 py-4 transition-all duration-300 text-gray-500 hover:text-white hover:border-white"
    (click)="toggleAddFriend()"
    [ngClass]="addFriend ? 'border-dashed text-white border-white' : ''"
  >
    <lucide-angular
      name="plus"
      size="16"
      [ngClass]="addFriend ? 'rotate-45' : 'rotate-0'"
      class="transition-all"
    ></lucide-angular>
    <p>
      {{ addFriendButtonMessage() }}
    </p>
  </button>
  <div class="flex flex-col mt-8" *ngIf="!addFriend">
    <div class="flex flex-row items-center justify-between text-xs">
      <span class="font-bold">Active Conversations</span>
      <span
        class="flex items-center justify-center bg-accent text-main h-4 w-4 rounded-full"
      >
        {{ friends.length }}
      </span>
    </div>
    <div
      class="flex flex-col space-y-1 mt-4 -mx-2 h-full overflow-y-auto"
      *ngIf="friends.length > 0"
    >
      <button
        class="flex flex-row items-center hover:bg-accent/20 rounded-xl p-2"
        *ngFor="let friend of friends"
        [routerLink]="'/chat/' + friend.friend.username"
      >
        <div
          class="flex items-center justify-center h-8 w-8 bg-accent/20 rounded-full"
        >
          {{ friend.friend.username[0] | uppercase }}
        </div>
        <div class="ml-2 text-sm font-semibold">
          {{ friend.friend.username }}
        </div>
      </button>
    </div>
  </div>
  <div class="flex flex-col mt-8" *ngIf="addFriend">
    <form [formGroup]="form" (ngSubmit)="onSubmuit()">
      <div class="space-y-2">
        <label for="email" class="text-gray-600 dark:text-gray-300 text-xs"
          >Email</label
        >
        <input
          type="email"
          formControlName="sent_to"
          class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-2 text-white transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
        />
      </div>
      <button
        class="hover:bg-gray-600 transition-all duration-300 mt-4 w-full py-2 px-4 rounded-lg flex items-center justify-center gap-4 bg-gray-700 text-white"
        type="submit"
      >
        <lucide-angular name="plus" size="16"></lucide-angular>
        <p>Add</p>
      </button>
      <div
        *ngIf="status != 'pending'"
        class="text-center mt-2 transition-opacity duration-200"
      >
        <p [ngClass]="status == 'added' ? 'text-green-400' : 'text-red-400'">
          {{
            status == "added"
              ? "Friend added successfully"
              : "Error while sending the request"
          }}
        </p>
      </div>
    </form>
  </div>
</div>
