<main class="h-full border-4 border-gray-800 relative">
  <nav class="h-20 bg-deepGreen w-full flex bg-gray-800"></nav>
  <div class="h-[85vh] w-full pl-12">
    <div
      class="h-[85%] overflow-y-auto custom-scrollbar space-y-4 md:pr-36 mt-2 sm:pr-12"
      *ngIf="messages.length > 0"
      #container
    >
      <p
        *ngFor="let message of messages"
        [title]="message.sent_at | date"
        [ngClass]="message.from == 'me' ? 'ml-auto ' : 'mr-auto'"
      >
        {{ message.content }}
      </p>
    </div>
    <div
      class="absolute bottom-8 left-20 bg-deepGreen w-[80%] h-16 justify-between flex gap-4 text-main px-12"
    >
      <input
        type="text"
        placeholder="Enter your message"
        [(ngModel)]="content"
        (keypress)="onKeyPress($event)"
      />
      <button (click)="sendMessage()">
        <lucide-angular name="send"></lucide-angular>
      </button>
    </div>
  </div>
</main>
