<main class="h-full border-4 border-main overflow-hidden">
  <nav class="h-16 bg-deepGreen w-full flex bg-main mb-8"></nav>
  <div class="h-full w-full relative pl-12">
    <div
      class="overflow-y-scroll h-[75%] space-y-4 flex flex-col pr-36 justify-end"
      *ngIf="messages"
    >
      <p
        *ngFor="let message of messages"
        [title]="message.sent_at | date"
        [ngClass]="message.from == 'me' ? 'self-end' : 'self-start'"
      >
        {{ message.content }}
      </p>
    </div>
    <div
      class="absolute bottom-32 left-20 bg-deepGreen w-[80%] h-16 justify-between flex gap-4 text-main px-12"
    >
      <input
        type="text"
        placeholder="Enter your message"
        [(ngModel)]="content"
      />
      <button (click)="sendMessage()">
        <lucide-angular name="send"></lucide-angular>
      </button>
    </div>
  </div>
</main>
