<div>
  <img
    class="absolute w-full object-cover object-left-top h-screen inset-0 top-0 hidden dark:block"
    src="assets/bg.svg"
    alt="image"
  />
  <div class="relative container m-auto px-6 md:px-12 lg:px-7">
    <div class="py-40 lg:py-56 md:w-9/12 lg:w-7/12 dark:lg:w-6/12 m-auto text-center">
      <h1
        class="text-gray-700 font-bold text-4xl md:text-6xl lg:text-4xl xl:text-6xl"
      >
        Just start talking and
        <span class="text-black"> making friends.</span>
      </h1>
      <p class="mt-8 text-gray-400">
        Safe free group friends chat for friends and to make friends.
      </p>
      <div class="mt-16 space-y-2 lg:space-y-0 sm:space-x-6">
        <button
          type="button"
          class="w-full py-3 px-6 text-center rounded-full transition bg-gray-700 hover:bg-gray-600 sm:w-max"
        >
          <span class="block text-white font-semibold text-sm">
            Get started
          </span>
        </button>
        <button
          type="button"
          class="w-full py-3 px-6 text-center rounded-full transition border sm:w-max border-gray-400 hover:bg-gray-100"
        >
          <span class="block text-gray-400 font-semibold text-sm">
            Sign up
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
