@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-40 {
    transform: rotateY(0deg);
  }

  .rotate-x-10 {
    transform: rotateX(50deg);
  }
}

.icon-button {
  @apply flex gap-4 rounded-lg items-center px-4 py-2 transition-all;
}
body {
  @apply text-black;
}
* {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
.input {
  input {
    @apply px-4 py-2 rounded-lg focus:outline-none;
  }
}
.action-button {
  @apply bg-transparent border-2 border-accent text-accent rounded-lg px-4 py-2 flex items-center justify-center gap-4 hover:bg-accent hover:text-main transition-all;
}
.input {
  input,
  select {
    @apply h-12;
  }
  textarea {
    @apply h-full;
  }
  input,
  textarea,
  select {
    @apply border-accent rounded-md w-full bg-transparent border-[1px] px-4;

    &:focus {
      @apply outline-none;
      &::placeholder {
        @apply top-0 transition-all text-xs;
      }
    }
    &::placeholder {
      @apply text-accent text-sm  absolute top-3;
    }
  }
}
